/audio/
/index.php
/data/pokemon-showdown/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/
/build-tools/build-indexes


/replays/caches/
/replays/replay-config.inc.php
/replays/theme/wrapper.inc.php

/website/.well-known/
/website/.pages-cached/
/website/files/
/website/images/
